body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; 
}

#menu-lateral .imagem {
    width: 200px;
    height: auto;
    justify-content: center; 
    align-items: center;
}

.imagem-atendente {
    width: 100px; 
    height: auto; 
    display: block; 
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden;
}

main {
    margin-left: 290px;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

.button-container {
    flex-basis: 20%;
}

.button-container button {
    background-color: #5978E5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #4e6ac4;
}

.section-wrapper {
    margin-top: 20px;
}

.filter-section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-element {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.filter-element label {
    display: block;
    margin-bottom: 5px;
}

.filter-element input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.patient-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patient-info h2 {
    margin-bottom: 20px;
}

.patient-info div {
    margin-top: 10px;
}

.patient-info button {
    background-color: #86d24ce6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    transition: background-color 0.3s ease;
    margin-top: 10px; 

}

.patient-info button:hover {
    background-color: #4e6ac4;
}

.main {
    margin-left: 290px;
    padding: 20px;
    background-color: #fff;
    min-height: 100vh;
}

#edit-form {
    max-width: 400px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #5978E5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4e6ac4;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
}


.logo-footer {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
    margin-bottom: 10px; 
}